{{#each newsArticles}}    
<div class="card w-75">
  <div class="card-body">
    <h5 class="card-title">{{this.title}}</h5>
    <a href="/article/{{this.id}}" class="btn btn-primary">More</a>
  </div>
</div>
{{/each}}